@import 'variables';
@mixin mobile-grid {
  $grid-count:26;
  .grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    background-color:#b4b4b4;
  }
  @for $i1 from 1 through $grid-count{
    @if $i1 % 2 == 0{
      .n#{$i1} {
        grid-row: round($i1/2)/ span 1;
        grid-column: 3;
        background-color: 	rgb(($i1*3), $i1, (($i1+10)*2));
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 10px;
        font-size: ($i1+14px);
      }
    }

    @else {
      .n#{$i1} {
        grid-row: round($i1/2)/ span 1;
        grid-column: 2;
        background-color: 	rgb((($i1+10)*2), $i1, ($i1*3));
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 10px;
        font-size: ($i1+14px);
      }
    }
  }
}
  
  /*for statement: from n1 to n26, I want the color to gradually become lighter using the variable $color-lab*/
  @for $i from 1 through 26 {
    .n#{$i} {
      color:lighten($color-lab, $i * 0.80%);
    }
  }

  /*if statement: I'm trying to make the grid-items more transparent gradually*/
  @if $color-lab == red {
    .n#{$i}{
      color:opacify($color-lab, $i * 0.8%);
    }
  } 
