@import 'variables';
@mixin mobile-grid {
  $grid-count:26;
  .grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    background-color:#b4b4b4;
  }
  @for $i1 from 1 through $grid-count{
    @if $i1 % 2 == 0{
      .n#{$i1} {

        grid-row: round($i1/2)/ span 1;
        grid-column: 3;
        background-color: 	rgb(($i1*3), $i1, (($i1+10)*2));
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 10px;
        font-size: ($i1+14px);
      }
    }

    @else {
      .n#{$i1} {
        grid-row: round($i1/2)/ span 1;
        grid-column: 2;
        background-color: 	rgb((($i1+10)*2), $i1, ($i1*3));
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 10px;
        font-size: ($i1+14px);
      }
    }
  }
}

// Adding comment test 1
/* Adding a comment test 2 */
//Adding comment test 3


  /*for statement: i am trying to make the colors of the words in all of the grid-items cycle through the four colors in the variable $color-lab*/
  @for $i2 from 1 through $grid-count {
    .n#{$i2} {
    color: nth($color-lab, $i2);
    }
  }

  /*if statement: I'm trying to make any grid-item that is red (true) be the font size 100, if the grid-item is not the color red, it will be normal font-size.*/
  @if $color-lab == red {
    font-size: 100pt;
  }